[2020-10-05 11:20] ololosha228 opened #4 "Codegen: need improvements"
Current version of codegen for Telegram API is awful. We need to make it more stable and better for reading.

Also, we need to implement somehow auto documentation for types and methods. Looks like [JSDoc way](https://jsdoc.app/) is good for us.

[This branch](https://github.com/xelaj/mtproto/tree/rework-codegen) is start working on codegen tool

[2020-10-05 12:21] semka95 commented on #4
@ololosha228, do you think it's enough to scrape type/method/constructor description from telegram site and write a comment preceding type/method/constructor declaration? Or you want to write docs manually?
Also, I am not sure if you need jsdoc, https://pkg.go.dev/github.com/xelaj/mtproto will look good when you add docs.

[2020-10-05 12:45] ololosha228 commented on #4
@semka95 I think it's not possible. But i found [this file in tdlib](https://github.com/tdlib/td/blob/master/td/generate/scheme/td_api.tl), hope, that we can upgrade **our** api spec :smiley:

I'm absolutely sure, that we need _something like_ jsdoc, not exactly it. If we can implement functions of jsdoc in codegen tool, it would be amazing.

[2020-10-05 13:39] LazarenkoA opened #5 "Bug: api methods doesn't generate properly"
* ОС windows 10
* go version go1.14 windows/amd64

взял пример https://github.com/xelaj/mtproto/tree/master/examples/auth (добавил go.mod)
выполнил  `go get github.com/xelaj/mtproto`, при выполнении `go generate github.com/xelaj/mtproto`  выводится сообщение

при сборки тестового примера получаю такое сообщение
[code]

[2020-10-05 13:42] semka95 commented on #4
@ololosha228, I am not sure that you can use this .tl file, it describes tdlib api. I compared it with telegram_api.tl file, unfortunately they are completely different. So, if you want to generate docs, you have to scrape telegram site (for example [this page](https://core.telegram.org/methods) contains table with all methods).

I still do not understand why do you need jsdoc if there is built in

[2020-10-05 13:50] ololosha228 commented on #5
Сборка была через `go run ./examples/auth`?

[2020-10-05 13:59] ololosha228 commented on #4
@semka95 I have an idea:

What if we parse https://core.telegram.org/schema ALL links, then download it, and parse each html by any script? like Beautifuloup on python, cause i think docs are generated too somehow, and html structure is not **so** hard to parse it.

[2020-10-05 14:12] patrikhermansson commented on #5
Same issue here but on mac and Go 1.15.

Just cloning the repository and running `go run ./examples/auth ` like you describe gives exactly the same error. Also using `go get github.com/xelaj/mtproto` and auth directly gives the same errors.

`go generate github.com/xelaj/mtproto` doesn't seem to be doing anything. Adding `-x` after gives no commands which it should if it was doing something.

Look

[2020-10-05 14:26] ololosha228 commented on #5
Okay, i found problem: we commited older version of codegen, i'll fix it in [this branch](https://github.com/xelaj/mtproto/tree/rework-codegen) and then merge it into master. Sorry for that.

[2020-10-05 14:28] patrikhermansson commented on #5
No problem! I wasn't expecting it to work already to be honest as it was such a new project. But thanks a lot!

[2020-10-05 14:36] semka95 commented on #4
@ololosha228, yes, good idea, this is the best way to do it. Because there there is no page, that contains list of types and list of constructors, like methods [page](https://core.telegram.org/methods), which is very odd. So, yeah, parsing all links is the only way.

There is cool scraping framework for go - [colly](https://github.com/gocolly/colly). Let me try to parse it, I will notice you about

[2020-10-05 18:55] LazarenkoA commented on #5
чет не работает, такая же проблема

[2020-10-06 00:41] ololosha228 commented on #5
после фикса и тестов, [этот коммит](https://github.com/xelaj/mtproto/commit/065d8cbf131b5482b80568c574387555a002d887) стал работать. @LazarenkoA @patrikhermansson Есть возможность проверить? У меня работает)

[2020-10-06 07:49] patrikhermansson commented on #5
Thanks, it looks better. Still need to try it out, but there is still an issue with this code in `telegram/common.go`:

`func init() {
	keyfile := "~/go/src/github.com/xelaj/mtproto/keys/keys.pem"
	TelegramPublicKeys, err := keys.ReadFromFile(keyfile)
	dry.PanicIfErr(err)
	choosedKey := dry.RandomChoose(dry.InterfaceSlice(TelegramPublicKeys)...).(*rsa.PublicKey)

	_ = choosedKey
}`

It errors beca

[2020-10-06 20:46] ololosha228 commented on #5
@patrikhermansson fixed in [this branch](https://github.com/xelaj/mtproto/tree/client_rework) now `telegram.Client` works like... you know, _client_, you just configure it. Hope that this change will resolve your troubles :smile:

[2020-10-07 00:35] ololosha228 opened #10 "vector decoder panic unexpectedly. reason don't know, bu it decode correcte at most 50-100 objects"

[2020-10-07 07:43] patrikhermansson commented on #5
Thanks! Think this solves the issue.

I still can't manage to actually authenticate though, i get an error from `client.AuthSendCode` saying `PHONE_MIGRATE_4 (code 303)`. Judging from this https://core.telegram.org/api/errors it looks like the client works in that it connect correctly but  whatever server ip i try (have used all of the ones in tdlib: https://github.com/tdlib/td/blob/master/td/tele

[2020-10-07 09:02] LazarenkoA commented on #5
чет у меня не воркает. Делаю `go get -u github.com/xelaj/mtproto@client_rework`
когда процесс доходит до пакета `github.com/xelaj/go-dry` падает
[code]
эта же ошибка при сборке тестового примера.

Странно **unix**.Access, я т под виндой работаю

[2020-10-07 09:03] LazarenkoA commented on #5
случайно закрыл ишью

[2020-10-07 09:15] patrikhermansson commented on #5
Yeah that too. I got around it doing a `go get github.com/xelaj/go-dry@latest` and commenting out this:
 if !dry.PathIsWirtable(c.SessionFile) {
   return nil, errs.Permission(c.SessionFile).Scope("write")
}

in `telegram/common.go`

[2020-10-07 09:22] patrikhermansson commented on #5
I think one of the issues with the project now is that it doesn't use go modules. If there was a `go.mod` that would ensure that the right versions of all dependencies were fetched. These last issues clearly stem from people having different versions of `go-dry`

[2020-10-07 09:25] LazarenkoA commented on #5
@patrikhermansson, спасибо. По клиенту, у меня возвращается 401 и ошибка SESSION_PASSWORD_NEEDED, куда вводить пароль, не понятно, это возвращается после ввода кода который приходит на телефон.
и кстате в тележку после этого приходит такое сообщение
[code]

Может стоит новый ишью завести? (исходная проблема была решена)

[2020-10-07 09:30] patrikhermansson commented on #5
@LazarenkoA Agree, the error responses are new issues.

[2020-10-07 09:35] LazarenkoA commented on #5
насчет пароля я понял, это из-за включенной у меня двухэтапной аутентификации

[2020-10-07 09:35] #5 closed

[2020-10-07 09:57] LazarenkoA opened #11 "Need more examples"
The lack of descriptions for methods and fields of structures makes it very difficult to work with the code, it is difficult to understand something yourself. Please post more working examples, such as getting a contact list, how to send a message to a specific user, etc., such basic things.

[2020-10-07 10:43] ololosha228 commented on #11
I currently working on examples, stay tuned)

[2020-10-07 19:27] patrikhermansson opened #12 "Setting ServerHost has no effect"
Hi, trying to call `AuthSendCode` after successfully creating a new client gives me the error:  `PHONE_MIGRATE_4 (code 303)`. Indicated in here: https://core.telegram.org/api/errors this is because the account is associated with data center nr 4. Issues is that I've tried all IP addresses that tdlib uses (including nr 4) but none of them work, I get the same error.

Not really sure how to solve th

[2020-10-07 20:00] patrikhermansson commented on #12
Ok know where it goes wrong. No matter what `ServerHost` you input, `NewMTProto` sets it to `149.154.167.50:443`. When i edited the hard coded ip in that function to the correct one, it worked.

Seems to be that `LoadSession()` in `session_save.go:63` returns an error when a session file doesn't exist which triggers `NewMTProto` to fall back to the default address. Guess solution is to always reta

[2020-10-07 22:02] ololosha228 commented on #12
Okay, i found this issue on telegram docs: ([from here](https://core.telegram.org/method/auth.sendCode))

When you get this error, you need to automatically switch DC with id X (for you it's 4). I really don't understand why not to add meta info to errors, but... It works _this way_, sadly.

So to fix this problem, we need:

1) make autosetup on several errors like this one;
2) ensure, that MTProt

[2020-10-08 07:28] LazarenkoA commented on #11
thanks for the translation

[2020-10-08 08:23] patrikhermansson commented on #12
Exactly! Two separate issues really, need to look into exactly how this works but can attempt to make PR although still need to better understand the structure of the project.

[2020-10-08 11:00] ololosha228 commented on #4
Alright, so i made few examples, how to write docs in TL schema to generate... Docs, lol.

This example for constructors:
[code]
it can be generated to something like this:

Note on InputPeer description — it is exactly description from [official docs](https://core.telegram.org/type/InputPeer), so some descriptions could be misleading. But anyway:
[code]

Is it looks good? I don't know actually. B

[2020-10-08 11:23] ololosha228 opened #13 "(Need experts) incorrectly decoding for huge messages"
So. i made this:

[code]
Basically, i call `messages.getAllChats`, and it **must** return list of chats.

BUT.

It panics for unknown reason!

Decoder is correctly understand, that response of type `Chats`, chats has one vector param, it has some values, but somwhere decoder decodes wrong.

**IF SOMEONE WANT TO DIG THIS ISSUE PLEASE LET ME KNOW**

[2020-10-08 11:25] ololosha228 commented on #10
duplicated by me, lol. #13  is investigating what happened.

[2020-10-08 11:25] #10 closed

[2020-10-08 15:27] ololosha228 commented on #11
@LazarenkoA take a look at [this branch](https://github.com/xelaj/mtproto/tree/client_rework), hope examples from here will help

[2020-10-08 19:25] ololosha228 commented on #13
solved. Reason is [tcp connection](https://github.com/xelaj/mtproto/blob/2baa0a17e9c7b4dee5befb187bcc56d310f3c4c8/network_io.go#L120) read message separately by tcp packet size. Pretty strange error. FIxed in go-dry.

[2020-10-08 19:26] #13 closed

[2020-10-08 22:09] ololosha228 opened #16 "Codegen: create order in generated objects"
Cause diffs betwen generated files looks pretty messy. #15  as example

[2020-10-09 09:15] LazarenkoA commented on #11
but what about sending messages?

[2020-10-09 13:59] semka95 commented on #4
@ololosha228, I finally wrote simple scraper, check out its output - [docs.txt](https://github.com/xelaj/mtproto/files/5355282/docs.txt) (i wrote result in json file). What do you think, if I scraped enough information, or something else needed? I think this format is good, it would be easy to add docs in generator, for example for methods:

[code]

and before this, passing map to GenerateMethods

[2020-10-09 14:49] ololosha228 commented on #4
@semka95 this is awesome! Everything what we need is now in your exported file!

I think, that something like jsdoc is better than excluded file, and i already added into `api_117.tl` nearly 25% of docs. Now, with your export, i can do it even faster.

Also, i have planned to upgrade tl parser on weekend, so i hope, docs will be added in generated files on next weekend!

Thanks for helping!

[2020-10-09 15:51] semka95 commented on #4
@ololosha228, you're welcome. I can send you a code if you need it.

[2020-10-10 14:58] rglitchard opened #18 "Need help to investigate how to create MTPROTO keys from usage example"
Hello, @ololosha228. Thanks a lot for this library, can you please clarify how I can generate mtproto keys from your example?

[code]

I can't figure out how to generate this? Should I use the guide on the official documentation link: https://core.telegram.org/mtproto/auth_key or is there another way to do this? thanks

[2020-10-10 15:06] ololosha228 commented on #4
@semka95 yes, it can really help me. You can make PR, or save it in repository. Or if it's just single file, you can post here link to snippet on golang playground

[2020-10-10 15:10] ololosha228 commented on #18
Hey @rglitchard, thanks for creating issue!

You can get RSA keys from [here](https://my.telegram.org/apps). Just save all public keys of your app into single file, and add path in configs.

To be honest, you need just first RSA public key, i don't know yet, what the purpose of other keys. but i think they are need to make requests to telegram CDNs or something like this. Just save ALL keys, we'll

[2020-10-10 15:10] #18 closed

[2020-10-10 15:30] rglitchard commented on #18
Also, I suppose to add ENV files to the project. For example, if I changed the PATH into .pem keys, they otherwise already hardcoded in `init()` function:

[code]

If you agree with my idea, I can make the PR

[2020-10-10 16:23] quenbyako opened #19 "Codegen: UNEXPECTEDLY, some Rpc responses are not objects! (see desc)"
СукаБлять!

Alright, so some messages like `contacts.getSaved` response as `vector<someType>` (which is actually slices). in MTProto vector is **LIKELY** object (it has 4 bytes for len and bytes stream of wrapped objects).

I changed already decoder of this shit, but we need to fix codegen. Now in `MTProto` object we have two different request types:

`MTProto.MakeRequest(TL)` — for REAL objects
`

[2020-10-10 16:27] ololosha228 commented on #18
@rglitchard oh crap, i supposed that i fixed it already)))

enviroments are bad in vendor libs, but idea is good. Also, check out [this branch](https://github.com/xelaj/mtproto/tree/client_rework), i'll soon merge it into master, it has multiple fixes of client, and has `NewClient` constructor, you can add path in params

[2020-10-10 18:10] semka95 commented on #4
@ololosha228, ok, I am missing something, you added docs to .tl manually?
So then you will parse docs from this .tl code generator?

[2020-10-11 13:48] xxxsen opened #22 "Get PHONE_MIGRATE_5 after sending AuthSendCode"
[code]

run auth example and get error msg like this.
[code]

[2020-10-11 20:12] ololosha228 commented on #22
Hey @xxxsen, thanks for question!

This is trouble of telegram api, all clients needs to automatically switch DCs between available. Also, this error is really specific, we don't know how to process it (code of dc is invluded in error id). Btw, we know about this problem since #12 was created. If you have any idea how to process this error code, let me know please.

[2020-10-11 20:31] ololosha228 commented on #4
@semka95 yeup, that's it. Honestly, add comments automatically will be too hard, the idea of documentating tl files in tdlib looks pretty. Also, 1100 lines of objects, not **so** much. i spending 20-30 seconds per object, it's faster than writing lexer + parser + serializer + checker for single file)

[2020-10-11 22:22] ololosha228 commented on #11
@LazarenkoA use [this method](https://core.telegram.org/method/messages.sendMessage)

examples are for understanding how does this lib works. You can find method for you and call it like others in example dir)

[2020-10-11 22:22] #11 closed

[2020-10-12 04:24] xxxsen commented on #22
https://itnext.io/source-code-walkthrough-of-telegram-ios-part-4-mtproto-connections-22ef2e5b339

"Enter Phone Number" part of this article shows how to switch datacenter,
wish it would help you to solve this issue.

On Mon, Oct 12, 2020, 04:13 Richard Cooper <notifications@github.com> wrote:

[2020-10-12 08:54] semka95 commented on #4
@ololosha228, well, if you take my scraper, you need to wait about 30 seconds to complete scraping and use parsed comments in your code (as I [showed](https://github.com/xelaj/mtproto/issues/4#issuecomment-706197566) you example earlier), don't need to write code to generate .tl file, don't need to write manually .tl file, use it in your code generator straight away. That is my concern, why are yo

[2020-10-12 09:26] semka95 commented on #4
@ololosha228 maybe you confused because I sent you .json file? I sent you .json just to show you output of scraper, if I would embed scraper in your library it would return map with parsed docs, not saving it in file and parse it again.

[2020-10-12 13:03] ololosha228 commented on #22
@xxxsen thanks a lot! I'll research this issue, and answer here until closing it. This article will help

[2020-10-12 18:58] hellopyj opened #23 "How to use a proxy server"
When i want to use a proxy server,i do not find some methord about proxy

[2020-10-12 19:51] ololosha228 commented on #23
Hey @hellopyj, thanks for asking!

Actually, you can laugh at me, but i don't know) When we investigate, we'll came back here and tag you.

[2020-10-14 09:22] hellopyj commented on #23
@ololosha228 Thank you for your patience in responding, I hope this project will continue and get better.

[2020-10-17 09:04] grinrill opened #24 "Incorrect git commit message at errors.go:L10"
I tried to run my code with the latest version of the library and got this error:

[code]
then I went to errors.go (https://github.com/xelaj/mtproto/blob/master/errors.go#L10) and found this there:

[code]

this looks like an incorrect git commit message...

[2020-10-17 13:39] #24 closed

[2020-10-24 08:49] LazarenkoA opened #30 "panic in mtproto_utils.go"
ОС: Windows 10

I use exemple https://github.com/xelaj/mtproto/tree/master/examples/get_saved_contacts
getting panic
[code]

callstack:
![image](https://user-images.githubusercontent.com/15386101/97077656-214c9980-15ee-11eb-8f5c-c89d1172f887.png)

panic occurs when calling various methods in a row, for example, authorization and `AccountInitTakeoutSession`  or `AccountInitTakeoutSession` and `Make

[2020-10-24 11:19] zweihander opened #31 "Reducing the number of dependencies"
I think a lot of them can be removed:

github.com/xelaj/go-dry (just write ```if err != nil```, and take some cryptographic stuff)
github.com/xelaj/errs (use our own errors)
github.com/pkg/errors (https://github.com/xelaj/mtproto/pull/15)
github.com/willf/pad (easy copy-paste, 10 lines of code)
github.com/vikyd/zero (reflect in runtime just for zero-value check? 😮 )
github.com/iancoleman/strcase (

[2020-10-24 16:26] airani commented on #22
@ololosha228 Also, I have this problem. you can fix it? or what can I do for fixing?

[2020-10-24 16:36] ololosha228 commented on #22
@airani i have some work in this case, i'll commit **part of** my solution to this issue in experimental branch and let you know)

In general, there is not so much stuff to do for dealing this error code, you need to say telegram.Client change few session settings: set special ip address and server salt, so i hope, we can fix it in a few days!

[2020-10-25 15:56] ololosha228 commented on #31
Okay, so line by line:

`go-dry` — no. this package is **exactly** made for improve code readability, and write more dry-code (**D**on't **R**epeat **Y**ourself, `err != nil` is not dry). Also it contains useful stuff for other things. **I agree** that go-dry do too much stuff for single package, but instead of removing, we can improve go-dry by itself
`errs` — as `go-dry`, it adds **extremely bas

[2020-10-25 15:58] ololosha228 commented on #31
I'll closing it, cause i noticed you, and try to remove `zero` and `EventBus` in next week.

[2020-10-25 15:58] #31 closed

[2020-10-25 16:01] ololosha228 commented on #30
@LazarenkoA  i got this panic too, it's happen cause telegram send BadMsgNotification.

I don't know how to process this message. TDlib say that we need just delete current session **completely** and create new one + authorize via phone code, which is too dumb way to process it.

If you found any solutions, please let me know, cause it's really important and urgent bug.

[2020-10-25 16:24] ololosha228 opened #33 "Codegen: add `_gen.go` suffixes to generated files."
as title said. suffixes are helping to unerstand, which file is generated, and which is not.

[2020-10-25 17:11] LazarenkoA commented on #30
only with sleep (add it before every call to the mtproto method)

[2020-10-25 18:52] LazarenkoA opened #34 "Question. How to send media to chat"
Please help with an example of sending a photo to an arbitrary chat. Here's what I found myself
[code]

I don't understand what should be in Media, the field itself is an interface, implementing structure InputMediaUploadedPhoto, it, in turn, has a File property, an interface too, implementing InputFileObj, it's not clear how to fill its properties, I tried it like this:
[code]

get an error `INPU

[2020-10-26 11:31] petuhovskiy opened #35 "Insecure random bytes generation"
Several places is using `dry.RandomBytes`:

https://github.com/xelaj/mtproto/blob/8c4c69fd45ad5496bb0f291f6c4eb1750b2b9759/aes_ige/aes.go#L102-L104

https://github.com/xelaj/mtproto/blob/84baaf9e22783ea7d3abc83c805085441a1bda11/serialize/serialize.go#L59

And `dry.RandomBytes` is using math/rand to generate random bytes array.

Maybe `dry.RandomBytes` should be using crypto/rand, or this package i

[2020-10-26 15:28] artem-webdev opened #36 "Code quality: telegram package has much debug stuff"
# until I figured out the code generation I will describe here

### 1) there is no point in calling it here

     client.AddCustomServerRequestHandler(client.handleSpecialRequests())

### if it makes sense, it still looks like debug prints
     func (c *Client) handleSpecialRequests() func(interface{}) bool {
	return func(i interface{}) bool {
		switch msg := i.(type) {
		case *UpdatesObj:
			pp.P

[2020-10-26 15:34] airani commented on #22
@ololosha228 you saw this page? https://core.telegram.org/api/datacenter

[2020-10-27 00:09] ololosha228 commented on #36
1) yes, it's looks likes debug, but they are real update messages, which server sends to client.

I need to add methods like `client.OnUserOnline(f func(interface{}))`, `client.OnNewMessage(f func(interface{}))`, `client.OnChannelBlocked(f func(interface{}))` etc. Just wait for it.

2) no, config is also for client specific purposes, i just don't have enough time to fix it, to be honest.

[2020-10-27 00:17] artem-webdev commented on #36
I will gladly put in suggestions, but I haven’t figured out code generation yet

[2020-10-27 00:20] artem-webdev commented on #36
# this must be hidden from external api
config, ok := resp.(*Config)
if !ok {
	return nil, errors.New("got wrong response: " + reflect.TypeOf(resp).String())
}

[2020-10-27 00:26] artem-webdev commented on #36
#client.OnNewMessage is cool, I would like something like this
 client.OnNewMessageText,client.OnNewMessageMedia,client.OnNewMessageVoice  etc .....

[2020-10-27 10:50] ololosha228 commented on #22
@airani  [this branch](https://github.com/xelaj/mtproto/tree/errors_handling) is leads to fix this issue

Yeah, but i still don't understand their point of logic to do stuff like this (cause servers may proxying requests to another, but they are not). Anyway, i working on in, you can help too)

[2020-10-27 14:07] airani commented on #22
I found solution to fix this bug, when you have got this error for a phone number you should change `serverHost` or DC id to X number in `PHONE_MIGRATE_X` and again call `NewClient` with new `ClientConfig` and note that delete the session file. and try again in a loop until you select the right DC for that phone number.

List of Telegram DC:

| ID | IP              | PORT |
|----|-----------------

[2020-10-30 21:15] musazadeh opened #38 "Two-steps verification is enabled and a password is required"
Hi, can you give me an example of a two-step verification?

[code]

[2020-10-31 19:37] ololosha228 commented on #38
Hey @musazadeh thanks for questioning!

I currently working on reviewing #28, i'll trying to do my best for merging it as fast as i can!

By the way, you can actually help me by just cloning this PR, experiment with it and give feedback, it helps me merge into master more fast

[2020-10-31 19:39] #38 closed

[2020-11-04 18:57] ololosha228 commented on #35
Hey @petuhovskiy, thanks for asking!

Well, i think that we need add to `go-dry` package something like `RandomSecureBytes` or something like this.

Also, honestly, it's not **so** neccessary to add crypto random (as i think, but we can discuss about it) for two main reasons:

* math.Rand is way more faster than crypt.Rand
* any random value is hashed, shaked, randomized mutiple times, so you can'

[2020-11-04 18:58] ololosha228 commented on #35
I'll leave open this issue, cause math.Rand and crypt.Rand bot has pros and cons

[2020-11-04 18:59] ololosha228 commented on #34
Hey @LazarenkoA! Thanks for asking!

I DON'T KNOW))))) Need to dig out, may be i'll add few support methods for this issue

[2020-11-04 19:00] ololosha228 commented on #33
this issue is related to #37

just for connect this two things

[2020-11-04 19:02] ololosha228 commented on #30
@LazarenkoA  but this is pretty stupid solution)))

I think, that `MTProto` need `sync.Mutex` for requests. Looks like we have race for seqno value

[2020-11-04 19:03] ololosha228 commented on #19
partially, it's fixed. see #37 for fixes of this bug in codegen tool

[2020-11-08 13:20] zweihander commented on #19
@ololosha228 #37 does not fix that issue (well, it can, but ```MakeRequestAsSlice``` is a crap, and I found a better way how to fix it).
I think this issue might be re-opened for a while (new big PR is coming :scream:).

[2020-11-08 14:11] ololosha228 commented on #19
@zweihander got it

I dont like this solution too, bu i didn't find a way how to make requests without breaking current requesting system. Maybe, if you know how to make it, it's all on you)

[2020-11-13 13:52] batara666 opened #42 "how to check if phone number are registered on telegram"

[2020-11-13 20:15] kochetkov-av opened #44 "Codegen: unnecessary strict validation rules for int32 in structs"
Let's take this piece of code for example:

https://github.com/xelaj/mtproto/blob/b166a10d7c323689e0dd33f5cb61025d40ede778/telegram/methods.go#L3762-L3771

For most of these fields default zero value is totally acceptable. The same goes for most structs.
I believe this should be changed in the generator.

[2020-11-14 11:48] codenoid commented on #22
this is major bug, break the whole library

[2020-11-14 15:40] ololosha228 commented on #22
@codenoid  it's not a bug, it's a feature)))

Okay, without any jokes, we agree that library **must** change DC automatically (as many other stuff), i'll prioritize this feature to top level.

Unfortunately, i don't have much time to fix it, maybe someone could collect data about which usual telegram client do automatically without user requests (must dig in tdlib or android clients, they must hav

[2020-11-14 15:41] ololosha228 commented on #12
Discussion moving to #22

[2020-11-14 15:41] #12 closed

[2020-11-14 15:44] ololosha228 commented on #42
Hey @batara666, thanks for asking!

Unfortunately, there is no one exact method or way to check it. I don't know why, but telegram api doesn't have this feature. Also you can't even implement it, cause telegram server do all stuff with authorization implicitly, so i think, there is no any way.

But if i found any one, i'll let you know!

[2020-11-14 15:44] #42 closed

[2020-11-14 15:57] ololosha228 commented on #44
Hey @kochetkov-av!

Yeah, this will remove when new codegen tool will merge into master. As soon as possible we'll fix it.

I'll close this issue, cause it's already fixed, but not in master, you just need to wait a bit

[2020-11-14 15:58] ololosha228 commented on #16
fixed in #37 as i know

[2020-11-14 15:58] #16 closed

[2020-11-15 00:44] codenoid commented on #22
i don't know, but i still able to send code with https://github.com/sdidyk/mtproto

note: but after I input the confirmation code (with `sdidyk/mtproto`), my telegram account goes banned

[2020-11-15 15:23] ololosha228 commented on #22
@codenoid i'm sorry to hear that :cry:

sdidyk/mtproto has bad credentials of app (app id 41994 is banned due to multiple cases spamming and doing malware stuff). Also, few parts of this (xelaj/mtproto) package was reimplemented, but i can say that **sdidyk/mtproto doesnt have proper logic  of automated things**.

[2020-11-19 18:06] ololosha228 commented on #22
wait what? i didn't close it, its only WIP!

[2020-11-19 18:09] ololosha228 commented on #22
@xxxsen @airani @codenoid and also @patrikhermansson, i have some news!

so i had a few time to fix it, but it's looks so messy as i think. [This commit](https://github.com/xelaj/mtproto/commit/33a75052239cac6abe10a3962f33831c23339550) will help. I hope.

@codenoid @xxxsen  due to this error affects to specific phone numbers, can you please test  this fix, and give us report?

[2020-11-21 13:50] airani commented on #44
Hey @ololosha228
When do you think this problem will be solved? this is so seriously

[2020-11-21 15:07] airani commented on #44
Also this validation not accept zero as value but I should send zero for some fields like this :disappointed:

[code]

[2020-11-21 16:02] ololosha228 commented on #44
@airani yeah, it's fixed on 100% with new tl encoder and removing playground validator from deps.

# SIPLEST FIXING HOWTO:

1) generated code is just generated, you are able to modify it for your purposes
2) thanks this, delete `validator` tags and valifator will not warn you.

**Note that next version will not have this problem**, package is 0.x version when i writing this comment, so we'll defin

[2020-11-21 16:36] airani commented on #44
Thanks @ololosha228
I waiting for next version because I want working with this package in production mode

[2020-11-21 19:15] ololosha228 commented on #44
@airani actualy last thing (i mean, it's **definetly last**) todo — rework codegen tool, and we ready to 1.0

Btw, at least 3 companies using this package in business apps (Xelaj software, KHS films and 1 more), so i can guarantee that this lib is production-ready (current api is unstable only, everything else works great)

[2020-11-27 21:34] patrikhermansson commented on #22
Can confirm that it works well in my testing! Thanks for fixing and sorry for late reply.

[2020-11-28 00:37] ololosha228 commented on #22
@patrikhermansson check out also [this branch](https://github.com/xelaj/mtproto/tree/new_decoder_refactoring)

We had reworked literally **all** package include new tl parser, which doesn't panic every second, also we reimplemented codegen tool, now personally me don't cry when i'm scrolling telegram package in godoc))))

[2020-11-29 10:02] patrikhermansson commented on #22
Hi! Sorry about this but clearly didn't test enough earlier. It doesn't work yet I'm afraid. Have not solved it but a few issues I found:

1) tryToProcessErr() in mtproto.go doesn't match with the PHONE_MIGRATE error. The switch statement matches against "PHONE_MIGRATE_X" but the e.Message is "PHONE_MIGRATE_4" (and assumign _1, _2, _3 etc.). This is an easy fix with somethign like `if strings.Cont

[2020-11-29 14:11] ololosha228 commented on #22
@patrikhermansson errors with additional data (like `EMAIL_UNCONFIRMED_X` `PASSWORD_TOO_FRESH_X` etc.) extracting data from simple text and giving you extended struct with custom data and native error name (you can research [TryExpandError implementation](https://github.com/xelaj/mtproto/blob/2c42bdacb4671275416478b35ffebb97af7dc294/errors.go#L67))

But i'm worried, that you didn't solve this issu

[2020-11-29 16:35] patrikhermansson commented on #22
Ok had a look. Yeah you're right, there's an issue in [TryExpandError](https://github.com/xelaj/mtproto/blob/2c42bdacb4671275416478b35ffebb97af7dc294/errors.go#L77) on line 77.  It should be `if choosedPrefixSuffix == nil` not `if choosedPrefixSuffix != nil`.

But even if I fix this (which sorts point 1 and 2 in my previous comment). I still get the error:

`[]uint8{
  0x00, 0x00, 0x00, 0x00,
} &e

[2020-11-29 16:48] patrikhermansson commented on #22
TryExpandError error is fixed in new_decoder_refactoring branch so not gonna do a pull request but will try to figure out the context issue. Clearly one that gets cancelled somewhere

[2020-11-30 12:50] airani commented on #44
Hi @ololosha228
I was checking new methods and structs that generated at new branch and I saw an issue at [this line](https://github.com/xelaj/mtproto/blob/new_decoder_refactoring/telegram/methods_gen.go#L5594)

[code]
default values of these `int32` fields are always zero and we need in any different use case just send some fields not sending all fields always with zero value and I think this wil

[2020-11-30 13:53] ololosha228 commented on #44
@airani well, idea is great, but it looks pretty messy, i think.

Also, TL don't know what is nil or null exactly, so it could make encoding process.

Also, check out [this branch](https://git.io/JIeTz) it'll be merged into master as 1.0 release, also it doesn't have playground validation at all, maybe that's what you are looking)

[2020-11-30 14:08] airani commented on #44
@ololosha228 I saw this branch and this problem still exists at this branch in [this line](https://github.com/xelaj/mtproto/blob/new_decoder_refactoring/telegram/methods_gen.go#L5594) for example

[2020-11-30 14:13] ololosha228 commented on #44
@airani
how to call:
[code]

Bingo, you discovered optional arguments)

I hope, that you understanding, that problem in prechecking arguments can't be generated due to tl schema doesn't support prechecking. I hope that we can make it, but at current time, it's not possible.

Also, as i said, TL serialization doesn't understand differences between `uint32(o)` and `&uint32(nil)`, it's anyway using `

[2020-12-01 11:30] airani commented on #44
@airani this is a major problem my friend

for example I called this request

[code]
and I want messages after messageID `12` but this code actually sent `OffsetId:12` and `OffsetDate:0` and TL priority with `OffsetDate` and this request not worked correctly!

but with my custom changes that works correctly like this:

[code]

I hope understand me and my solution my friend :)

[2020-12-01 14:39] ololosha228 commented on #44
@airani oooooooh okaaaay, now i got it....

[2020-12-01 14:44] #44 closed

[2020-12-01 14:47] airani commented on #44
@ololosha228 Thank you , that's an important problem

[2020-12-01 14:52] ololosha228 opened #47 "TL Encoder: Option values can be zero, TL Encoder doesn't support it"
Copied from #44

@airani wrote:

for example I called this request

[code]
and I want messages after messageID `12` but this code actually sent `OffsetId:12` and `OffsetDate:0` and TL priority with `OffsetDate` and this request not worked correctly!

but with my custom changes that works correctly like this:

[code]

## What's the porblem:

Imagine, that we have some method like `DoSomethingWithMe

[2020-12-02 09:51] patrikhermansson opened #48 "Bad Server salt"
After a few minutes of running the client (using the this [branch](https://github.com/xelaj/mtproto/commit/6582c6e8201a976c56219655838c6b03d784c711)) I get a `BadServerSalt` error message in the console. After that updates stops coming through even if new messages should come in so it doesn't recover from this error correctly. Sometimes this comes very soon after launch, sometimes it takes 10-20 m

[2020-12-17 10:53] TibebeJS opened #49 "Getting panic: (*serialize.BadMsgNotification) 0xc0000381c0 [recovered] on Auth example"
I'm getting the following error when I try to run the [example auth code](https://github.com/xelaj/mtproto/blob/master/examples/auth/main.go)
[code]

What is the possible cause and how do I solve it?

[2020-12-17 20:30] blez opened #50 "Panic when try to UploadSaveBigFilePart"
When I do
[code]
I always got an error
[code]

[2020-12-17 23:56] ololosha228 commented on #50
Hey @blez!

Could you please test your code on [this branch](https://github.com/xelaj/mtproto/tree/new_decoder_refactoring)? You can switch it in two ways, if you using go mod, add commit hash (@6582c6e), if not, you can just checkout branch manualy:
[code]

If this wont help, ping me, i'll look more deep in this bug.

Reason is that in tl schema boolan is an object, like struct, class or sort of,

[2020-12-18 00:00] ololosha228 commented on #48
Hey @patrikhermansson, sorry for too late response, but i came back)

It looks like internal messages processor doesn't expect `BadServerSalt` as internal error. I'll inspect it and let you know, thanks for creating this issue!

[2020-12-18 00:04] ololosha228 commented on #49
Hey @TibebeJS!

Could you please test your code on [this branch](https://github.com/xelaj/mtproto/tree/new_decoder_refactoring)? You can switch it in two ways, if you using go mod, add commit hash (@6582c6e), if not, you can just checkout branch manualy:
[code]

If this wont help, ping me, i'll look more deep in this bug.

[2020-12-18 09:23] blez commented on #50
I have already tried it.
[code]
Did not work

[2020-12-18 13:05] blez commented on #50
Sorry, my second comment was false alert. With https://github.com/xelaj/mtproto/tree/new_decoder_refactoring branch I do not have same error.

[2020-12-18 13:05] #50 closed

[2020-12-18 13:14] blez opened #51 "Hangs when try to UploadSaveBigFilePart"
When I do
[code]

it just hands with message in log
[code]
I use https://github.com/xelaj/mtproto/tree/new_decoder_refactoring

[2020-12-18 15:34] ololosha228 commented on #50
@blez glad to hear this!

Also, go get must called as `go get -u github.com/xelaj/mtproto@6582c6e`, cause (i'm not kiddin, that's too stupid) go mod **doesn't support** branches, only commit hashes ¯\_(ツ)_/¯

[2020-12-21 09:59] TibebeJS commented on #49
sorry for the delay,

I have given the @6582c6e version a try (with some modification on the code since some of the API's have been changed).

But a similar issue still persists,
[code]

my `go.mod` file:
[code]

[2020-12-23 11:16] blez commented on #51
Hello, sorry for pushing you, just interesting if there are any updates for that issue?

[2020-12-23 15:29] ololosha228 commented on #51
Hey @blez! Thanks for asking and ping for inactivity!

I researched this issue, Here is whats happen:

So, TL schema has preeeety few types, including only bytestream and a few types of integers and floats (int32, uint32, int64, int128 and int256). Also it support custom crc codes for defining specific objects with specific decoding. _See something wrong?_

Yyyyeup, no single type for boolean, arr

[2020-12-23 19:07] ololosha228 commented on #48
@patrikhermansson this bug is fixed with latest 1.0rc branch commit, thanks a lot!

[2020-12-23 19:07] #48 closed

[2020-12-23 19:10] ololosha228 commented on #51
@blez i'll tried to fix this bug, tests passed out, but in real life result ma be different, so i'll not close this issue yet.

If you have a few time, your feedback will be appreciated

[2020-12-23 19:12] ololosha228 commented on #22
Due to multiple responses,  this bug was fixed in release candidate branch, so i'll close it

[2020-12-23 19:12] #22 closed

[2020-12-23 19:12] ololosha228 commented on #4
Fixed in #45

[2020-12-23 19:12] #4 closed

[2020-12-23 19:13] ololosha228 commented on #33
Fixed in #45

[2020-12-23 19:13] #33 closed

[2020-12-23 20:55] blez commented on #51
No, does not work
[code]

[2020-12-24 10:13] ernado commented on #4
@semka95 I've created scraper for Telegram documentation in [gotd/getdoc](https://github.com/gotd/getdoc), this is basically what you've described, but via goquery and pebble for caching.

I've also managed to integrate it with code generation, but it is out of scope.

[2020-12-24 18:36] ololosha228 commented on #4
@ernado this is amazing!

Can we modify [current tl schema file](https://github.com/xelaj/mtproto/blob/master/schemes/api_117.tl) for adding docs to each struct and method?

[2020-12-24 18:58] ololosha228 commented on #51
@blez could you please share your code in [playground](https://play.golang.org/)? Just want to understand in which context client panics

[2020-12-24 22:08] ernado commented on #4
It should be possible to embed parsed documentation to schema, but IMO it is impractical.
I've chosen to embed documentation to generated code on codegen step.

[2021-01-02 08:11] TibebeJS commented on #49
Any Idea on what might be the underlying issue is, please?

[2021-01-02 15:46] ololosha228 commented on #49
@TibebeJS sorry for long delay, i came back to you after holidays

[2021-01-02 21:48] TibebeJS commented on #49
Oh, no worries bud. Wish you a happy new year btw!

[2021-01-03 14:59] abserari opened #52 "Is this repo couldn't run on windows?"
go run .\main.go
panic: not implemented for windows

goroutine 1 [running]:
github.com/xelaj/go-dry.pathIsWirtable(...)
        D:/gopath/src/github.com/abserari/golangbot/vendor/github.com/xelaj/go-dry/path_windows.go:11
github.com/xelaj/go-dry.PathIsWirtable(...)
        D:/gopath/src/github.com/abserari/golangbot/vendor/github.com/xelaj/go-dry/path.go:44
github.com/xelaj/mtproto/telegram.NewCli

[2021-01-03 16:44] quenbyako commented on #52
Hey @abserari thanks for ask!

This is only one thing which is not implemented in windows: our team working only on osx and linux, so we don't know, how to implement checking path permissions to specific user.

If you know how to implement it, or maybe know, which package provide this feature, you can post it here or even create a new PR, any contribution is welcome!

[2021-01-03 16:55] abserari commented on #52
![image](https://user-images.githubusercontent.com/32089134/103484124-662f5080-4e27-11eb-87b1-890b3b3f20f1.png)
and I run on wsl (the windows linux subsystem) with ubuntu bash. both windows and wsl get this error. Is this problem about my network?

[2021-01-03 18:18] quenbyako commented on #52
@abserari looks like it is 😕😕😕😕 i see tcp problem first time with this package, so i think, that your network connection maybe was broken

[2021-01-04 02:32] abserari commented on #52
Because my location, I use proxy. It seems that TCP connection not established on my proxy.
So I move to a VM on cloud, run same main.go. And get
![image](https://user-images.githubusercontent.com/32089134/103496140-14fb7d00-4e78-11eb-9ce7-8b3216befc33.png)

[2021-01-04 02:47] abserari commented on #52
Now, A New error
![image](https://user-images.githubusercontent.com/32089134/103496719-3493a500-4e7a-11eb-922e-10d2ad024c64.png)
. ResolveUsername error: sedning ContactsResolveUsername: The user whose identity is being used to execute queries is associated with DC 5 (code 303)

[2021-01-04 04:18] quenbyako commented on #52
@abserari looks like a bug, which we'd fixed in november.

Are you using release candidate branch of this package? if not, checkout to [this one](https://github.com/xelaj/mtproto/tree/new_decoder_refactoring) (sorry, this lib is pretty fresh and in active testing, we are going to release after getting a few  more responses about its stability)

If you're using exactly this branch, ping me, i'll lo

[2021-01-04 04:43] abserari commented on #52
I check out to
[code]
after update some parameter, change it to string, int per parameter from a structure.

and got same error
[code]

[2021-01-04 04:47] abserari commented on #52
Should I change a dc IP address to connect?
 now is 149.154.167.40:443

[2021-01-04 08:17] jaskaranSM commented on #52
i run on wsl too, haven't seen a single wsarecv error

[2021-01-04 10:10] abserari commented on #52
maybe it because of my network. In my region, I couldn't get touch with telegram?

[2021-01-04 10:43] abserari commented on #52
When I use Phonenumber auth. I always get this error.
![Uploading image.png…]()

[2021-01-10 19:04] airani opened #56 "Unexpected error!"
[code]

I don't know what is this and I don't know why printed in console when program running and then mtproto client not works!
printed in console without any sign for debug! I confused! anyone can help me?

[2021-01-11 16:33] quenbyako commented on #56
Hey @airani! Could you please attach code snippet from go playground? I must repeat this bug for understanding, what's happen :upside_down_face:

[2021-01-21 03:00] quenbyako commented on #56
Closing, cause we don't have enough data to inspect this bug.

@airani you can always reopen issue, if you can add more additional data

[2021-01-21 03:00] #56 closed

[2021-01-21 05:15] quenbyako commented on #52
@abserari i've created really dumb way of fixing this problem, [here is commit of go-dry](https://github.com/xelaj/go-dry/commit/ba7bf81317ba2548d4baca6fce363afe341ceb25) which is handles unimplemented windows file permission checking.

Note, that this update made ONLY for current windows supporting natively, so mtproto is still supporting windows in experiment nonguarantee way.

[2021-01-21 05:15] #52 closed

[2021-01-21 14:06] blez commented on #51
@quenbyako
Something like this https://play.golang.org/p/zv6WaheNR_Y
But I'm not sure my code is an issue. Your lib can't "parse" `bool` response
[code]

[2021-01-23 11:59] quenbyako opened #57 "Notification about go-dry dependency"
Since we have a lot of feedback to remove `github.com/xelaj/go-dry` dependency, we decided to provide a solution how to fix it:

We are working on `eitri` project, which helps developers to create and deliver amazing cli and web apps, so, really _dry_ method implementations like `dry.PanicIfErr` are moving to `extra.go` file in each package.

Also, we're decided to split `go-dry` package to multip

[2021-01-23 14:57] #19 closed

[2021-01-23 14:57] #30 closed

[2021-01-23 14:57] #36 closed

[2021-01-23 15:30] anaxita opened #58 "[FEAT]: Fix russian Readme"
Russian README has no data at the part "TO DO",
Expected: list of "to do" things

[2021-01-23 15:45] quenbyako commented on #58
@anaxita Thank you for this remark, i'll try to synchronize all docs as fast as i can!

[2021-01-24 17:29] quenbyako opened #59 "[BUG]: tl: structs with not 1st parameter flag parsing incorectly"
#### Description

All telegram api has a few constructors like this one:

[code]

It generates code like this:

[code]

See something strange? That's it: `flags:#` parameter is not first. There are only 2-3 (!!!) constructors like this one, which have flags on second or third position. We provided this goddamn unusual behavior, but decoder wasn't calling `FlagIndex` method.

#### Failed snippet

F

[2021-01-24 19:12] #59 closed

[2021-01-26 13:21] vipho opened #60 "[BUG]: panic: (*objects.BadMsgNotification)"
#### Description

panic: (*objects.BadMsgNotification) 0xc00058c430 [recovered]
        panic: (*objects.BadMsgNotification) 0xc00058c430

goroutine 53 [running]:
github.com/xelaj/mtproto.(*MTProto).recoverGoroutine(0xc000450900)
        /Users/vipho/go/pkg/mod/github.com/xelaj/mtproto@v1.0.0/mtproto_utils.go:86 +0x125
panic(0x180dc20, 0xc00058c430)
        /usr/local/Cellar/go/1.15.7/libexec/src/

[2021-01-26 13:57] quenbyako commented on #60
Hey @vipho, thanks for your feedback!

It looks like #49, so i'll close it as duplicate. You can always reopen if you want to.

[2021-01-26 13:57] #60 closed

[2021-02-06 13:31] HT808s opened #65 "[BUG]: Impossible to auth"
#### Description

I've tried the `auth` example with my own appID and hash
The call of `client.AuthSendCode` gets stuck/blocked somehow.

When I check the error channel, I've got
[code]

#### Failed snippet

https://play.golang.org/p/WCtLC1fS8hw

#### Expected behavior

I expect to receive a Telegram code in order to authenticate

#### Additional context

I run go version go1.14.3 darwin/amd64

[2021-02-07 13:39] quenbyako commented on #65
@HT808s Thanks for feedback!

This error is REALLY strange, looks like code can converted and flipped to `-404` value, but... Well, i don't know what can we do with this info...

I'll let you know if found any useful data to you

[2021-02-11 15:22] mwei0210 commented on #65
Getting the same error code, following..

[2021-02-11 16:18] quenbyako commented on #65
We need to ask telegram developers. I digged in very deeply into the official documentation, there is not a single one description of what the `-404` error means. User not found? Is the phone not registred? App not found? Nothing is clear at all. We REALLY need to send a request to the telegram developers for some kind of support, because many things are too unclear that I even get scared.

[2021-02-11 16:20] quenbyako commented on #65
@HT808s @mwei0210 did you gus checked twice that telegram app id and app hash are valid? does examples works with tdlib credentials? Maybe this can be major problem?

[2021-02-13 09:30] mwei0210 commented on #65
yeah correct app id and hash, tested with tdlib credentials, same result...

[2021-02-13 12:06] quenbyako commented on #65
@mwei0210 can you login into your account **without** 2fa password and without registration?

maybe -404 means that you need to signup with this phone number?

[2021-02-16 08:07] mwei0210 commented on #65
i guess not..

[code]

[2021-02-16 13:56] quenbyako commented on #65
@mwei0210 try to recreate session (just delete session file, and try to reauth). After that, leave here feedback please, maybe it can help. If yes, i think that main problem in this issue is outdated session.

Also, maybe it's better to handle this error (like `AUTH_KEY_UNREGISTERED` error, but i think that we just need to say user that session is corrupted). Or maybe not. But in any case, need to

[2021-02-18 11:06] mwei0210 commented on #65
deleting session didn't seem to work as well

[2021-02-18 13:40] quenbyako commented on #65
@mwei0210 ok, i'm sorry for this trouble, i'll try to contact with tg developers as fast as i can.

[2021-02-18 13:43] mwei0210 commented on #65
Nope. thanks for being helpful 😃

[2021-02-27 14:37] innovative-sol commented on #49
Hi,

Same problem here for the "get_updates" example...

&objects.BadMsgNotification{
  BadMsgID:    6933951333566766692,
  BadMsgSeqNo: 7,
  Code:        33,
}
&errors.withStack{
  error: &errors.withMessage{
    cause: &mtproto.BadMsgError{
      BadMsgNotification: &objects.BadMsgNotification{
        BadMsgID:    6933951333566766692,
        BadMsgSeqNo: 7,
        Code:        33,
      },

[2021-02-28 16:19] grinrill opened #72 "[BUG]: updates stop going with high rpc"
#### Description

I have bot with 200-300 request per second. For example, my golang code with mtproto do nothing: just count updates.
After some time (30-60 seconds) updates stop going.

#### Failed snippet

My code is here: https://play.golang.org/p/gi1MJBZQGJ3
Full console output here: https://nekobin.com/muyagozifo
I run it on repl.it, if it matters

[2021-02-28 22:16] quenbyako commented on #72
@grinrill Thanks for reporting!

Looks pretty strange... Maybe pinger sends pings incorrectly, but i'm not sure at all... I'll figure it out, thanks for logs! it can help us

[2021-03-01 16:40] quenbyako commented on #72
@grinrill Have some news: looks like telegram servers just cut updates channel even if you send a couple of requests per minute. It may be necessary to send an update request to the server once a minute. It needs to be checked, I'm not sure, because this process is not described in the documentation.

In any case, I should note that at this moment, getting and processing updates is very problemati

[2021-03-01 17:05] quenbyako opened #73 "[FEAT]: Create updates processing subsystem"
#### Problem description:

Since we have a lot of issues and requests for making utilities to get, handle and process telegram updates, we need to create separate subsystem for it. It must be splitted by specific subsystem. cause some projects doesn't need get updates at all.

#### Solution:

The idea is to make a separate subpackage that wraps around the `telegram.Client` itself, very similar to

[2021-03-01 19:12] grinrill commented on #72
Thank you!

Also now i have log with `InitWarnChannel: true` and `utils.ReadWarningsToStdErr(Client.Warnings)`
And without calling UpdatesGetState.
Maybe it will help.

Code: https://nekobin.com/qujuquhada
Log output: https://nekobin.com/linawebivo
(log is not full because repl.it have log size limit)

[2021-03-03 08:18] aleibovici commented on #65
Did you ever figure out how to solve the issue? I'm having the exact same problem.

[2021-03-05 15:05] aofei commented on #49
This panic occurs whenever I download a large file (about 1 GiB). I'm curious what caused it. Any guesses?

[2021-03-05 15:14] aofei commented on #49
And it's always either [mtproto.ErrBadMsgSeqNoTooLow](https://pkg.go.dev/github.com/xelaj/mtproto#ErrBadMsgSeqNoTooLow) or [mtproto.ErrBadMsgSeqNoTooHigh](https://pkg.go.dev/github.com/xelaj/mtproto#ErrBadMsgSeqNoTooHigh).

[2021-03-05 15:47] quenbyako commented on #49
Craaaap i don't know how to fix it...

Maybe we need to add additional mutex to tcp connection?

[2021-03-05 18:08] aofei commented on #49
FYI:
  * https://github.com/LonamiWebs/Telethon/issues/195#issuecomment-331473279
  * https://github.com/LonamiWebs/Telethon/commit/151e1623d3f0ed71951a73169849d6fbbeaad162
  * https://github.com/LonamiWebs/Telethon/commit/12a39873f1c67b4f110a5f17dedd0e932456c293

[2021-03-05 22:20] quenbyako commented on #49
@aofei thanks a lot, i'll try to experiment with this at this weekends (come back to this thread in near future, i promise!)

@Lonami if you have a little free time, it would be so amazing, if you could answer here about how to make this package better :pray: This help is REALLY necessary.

[2021-03-06 00:21] Lonami commented on #49
Haven't done anything with go or heard of this package before the ping. It's going to be about impossible for me to provide any assistance. Telethon's handling of [code 32/33](https://github.com/LonamiWebs/Telethon/blob/4c771bf2afbd8b3c663402b75fce4153aa406e14/telethon/network/mtprotosender.py#L708-L714) is a hack which really shouldn't be executed . [16 or 17](https://github.com/LonamiWebs/Teleth

[2021-03-06 05:55] aofei opened #75 "[FEAT]: add support for context.Context"
#### Is your feature request related to a problem? Please describe.

I think people may prefer to have the ability to cancel their requests at any time.

#### Describe the solution you'd like

Add `conetxt.Context` to every func/method that involves network operations.

#### Describe alternatives you've considered

N/A

#### Additional context

This isn't a difficult feature to implement. What nee

[2021-03-07 15:26] quenbyako commented on #75
leave [this link](https://core.telegram.org/mtproto/service_messages#cancellation-of-an-rpc-query) just for my info, don't mind it

[2021-03-07 16:58] quenbyako commented on #65
@aleibovici @mwei0210 @HT808s Looks like only utilities for example has bug (mtproto client created `session.json` file and `dry.FileExists` constantly says that session was registred.

Fixed in [a3b8484 commit](https://github.com/xelaj/mtproto/commit/a3b84843135ebf206cfc59b6de6454be7ab2cfa1)

**Note that this bug referenced for examples only, looks like custom clients will never have this bug**

[2021-03-07 17:18] #58 closed

[2021-03-07 22:07] path22 opened #76 "[FEAT]: please add support for receiving media"
#### Is your feature request related to a problem? Please describe.

There is no support of media updates. I'm receiving message of objects.GzipPacked type, which is internal type. 😞

#### Describe the solution you'd like

I want to receive different types depending on the message (audio, video, document), and content in bytes.

#### Describe alternatives you've considered

Don't see alternatives.

[2021-03-08 13:52] quenbyako commented on #76
Wait... Did you recieved gzipped object INSIDE rpc request?

[2021-03-08 14:09] quenbyako opened #77 "[FEAT]: Add chinese readme"
## What happened:

We suddenly got a lot of traffic to the repository from China. (来自中国的朋友大家好!) I don’t know what's happened, but it seems that the number of users of this package from China is approximately equal to the Russian ones.

Maybe we should add a translation? Maybe someone wants to help?

[2021-03-08 16:17] aofei opened #78 "[FEAT]: add support for WebSocket transports"
#### Is your feature request related to a problem? Please describe.

I think if this project can support MTProto connection over WebSocket, it'll be able to solve the blocking problem of some ISPs.

#### Describe the solution you'd like

For API, maybe we can add a field like `WSEndpoint` (an HTTP URL string) to the [`mtproto.Config`](https://pkg.go.dev/github.com/xelaj/mtproto#Config). If both `S

[2021-03-08 16:25] aofei commented on #77
❤️ Glad you have this idea. I would be happy to help. So this one can be assigned to me. I'll finish it tomorrow (well, it's bedtime now).

[2021-03-08 16:32] aofei commented on #78
This one can be assigned to me, I'll try to implement it. But I haven't dug the transport layer code of this project yet. I'm not sure if there will be any difficulties. So it may take some time.

[2021-03-08 20:27] quenbyako commented on #78
@aofei yeah, it's great idea, connect to telegram via websockets can improve stability of connection (i hope at least). I'll try to implement uris firstly (one way or another, this stuff must be placed in this package) and make test stand for protocol

:+1: :+1: :+1: :+1:

[2021-03-09 07:38] innovative-sol opened #79 "Reconnection does'nt work"
Hi,

If you try calling **client.Reconnect()** after the connection is successful (let's say 30 seconds after connection) the app is unable to reconnect to the Telegram servers. It just hangs... (maybe some mutex or full channel)

Daniel

[2021-03-09 11:43] quenbyako commented on #79
@innovative-sol thanks for this notice, we'll try to find this bug

i think we need refactor a bit `MTProto{}` type, cuz everything is stacked in single struct. Maybe we need to split it at least on `transport` subpackage and `messages`, so we can find bugs like this one faster.

[2021-03-13 09:45] aofei commented on #49
Hey @quenbyako, any luck so far?

I have a guess that this problem may be related to the request processing speed of the MTProto server. In fact, this problem rarely occurs if I put a rate limiting strategy (like 10 req/s) in my code.

[2021-03-13 13:32] quenbyako commented on #49
@aofei: I tried to copy messages handling from telethon (thanks Lonami for hint) but no progress at al...

Someone whispered in my ear a small inside that you're not required to save seqno in session and can recreate connection starts with 1. I try this resolution on weekends and come back with response

[2021-03-13 14:48] aofei commented on #49
@quenbyako

Good news, I fixed this bug by simply adding this `magicMu` to the [`MTProto.sendPacketNew`](https://github.com/xelaj/mtproto/blob/7e1bcaf5be62dff6dbe85ede2e13e62c543d5f74/network_io.go#L26) (this problem never happened again in my program). However, I don't know what happened (so I called it "magicMu"). Any ideas?

[code]

[2021-03-13 15:17] Lonami commented on #49
Sounds like a data race; not sure how the library is organized but if there's concurrent access to the MTP state (like message ID or sequence number), that should indeed be behind a lock.

[2021-03-13 15:19] quenbyako commented on #49
@aofei oooow i got it! problem is that multiple requests getting seqno in parallel but it's illegal for telegram service. F.e.:

[code]
Boom, it returns bad message.

Fuck, i should notice this earlier, seqno mutex and request is single one instead twot different.

[2021-03-13 15:20] quenbyako commented on #49
@aofei i'll refactor full method, and commit today or tommorow, thanks for help! @Lonami  you too 😎

[2021-03-13 19:58] #77 closed

[2021-03-18 13:36] quenbyako commented on #78
@aofei i've created separate package for transport stuff (like transport modes, transport platforms etc), try to push this changes today, but i made only tcp platform, we need to create somehow websocket platform as well.

[2021-03-22 09:23] aofei commented on #78
@quenbyako

Sorry, I couldn't find the "transport" package you mentioned. Hasn't it been made public yet?

[2021-03-22 12:03] quenbyako commented on #78
@aofei yeah, still working and testing. Unfortunately, i got a lot of work on these days 😩

[2021-03-22 14:54] quenbyako commented on #78
@aofei added experimental transport directly to main branch (cuz why not), see latest commits

It's required to cover multiple tests, cause, you know, poor tests better than no tests 🙃

Currently it's not integrated in main mtproto struct because i'm not sure that it doesn't break anything, but i alreday tested new transports, and they seems working well. But, again, i'm not sure and we need to te

[2021-03-24 03:44] quenbyako commented on #78
new transport package now is using in the main mtproto structure since [this commit](https://github.com/xelaj/mtproto/commit/df86cba1ad26d714e1569b5be9486f4f32be14b4) 🎉🎉🎉🎉

I'll still working on websockets implementation (@aofei your help still can be very helpful), but actualy i hope that this new package already has pretty stable and flexible api.

Also, looks like we fixed #49 issue, now, even

[2021-03-24 03:47] quenbyako commented on #49
@innovative-sol @TibebeJS @aofei looks like we fixed it. Try it out with the [latest commit](https://github.com/xelaj/mtproto/commit/df86cba1ad26d714e1569b5be9486f4f32be14b4) and give us a little feedback, please. Hope that for you it works as well as for me.

[2021-03-24 04:11] aofei commented on #49
@quenbyako

Bad news, I still get this error in my tests. 😥

[2021-03-24 04:27] aofei commented on #49
Perhaps we should ensure that [`MTProto.sendPacket`](https://github.com/xelaj/mtproto/blob/df86cba1ad26d714e1569b5be9486f4f32be14b4/network.go#L21) is always thread-safe, which means putting the entire [`MTProto.sendPacket`](https://github.com/xelaj/mtproto/blob/df86cba1ad26d714e1569b5be9486f4f32be14b4/network.go#L21) method behind a lock (not just [this](https://github.com/xelaj/mtproto/blob/df86

[2021-03-24 05:43] aofei commented on #49
It seems that the `msg.seqNo` is set by [this line](https://github.com/xelaj/mtproto/blob/df86cba1ad26d714e1569b5be9486f4f32be14b4/network.go#L22), so we must ensure thread safety from this line until the entire request is sent.

[2021-03-24 05:59] quenbyako commented on #49
@aofei
1) [`MTProto.sendPacket`](https://github.com/xelaj/mtproto/blob/df86cba1ad26d714e1569b5be9486f4f32be14b4/network.go#L21) not thread safe by design (each request can be prepared asynchronously and then sent synchronously). So, all stuff _behind_ `m.seqNoMutext` is actual preparation stuff. Btw, glad that you noticed, `m.seqNoMutext` can be called even after message creation.
2) this is **req

[2021-04-05 08:28] xxxsen opened #82 "[BUG]: missing port in dc list"
#### Description

After getting PHONE_MIGRATE_5 err, it would call reconnect with new dc address from dclist, but the format of the ipaddress in dclist is wrong.

in telegram/common.go
func: NewClient
![image](https://user-images.githubusercontent.com/3880276/113554039-43315a00-962b-11eb-935a-6bcdf6644259.png)

![image](https://user-images.githubusercontent.com/3880276/113554143-6c51ea80-962b-11eb

[2021-04-05 09:01] xxxsen commented on #65
@quenbyako hi, I still have the same problem with the latest commit(216789b95a5d644ebbdd1acb7eb46ff61647960a). is there any way to solve it?

[2021-04-05 11:10] quenbyako commented on #65
@xxxsen make sure, that you've updated your go mod (in project directory type `go mod tidy`). If this doesn't help, paste please somewhere (better in [go playground](https://play.golang.org)) your code, which doesn't work 😉

Currently, without failed code, i don't know how to help you, unfortunately 😔

[2021-04-05 11:12] quenbyako commented on #82
@xxxsen yeah, this looks like we misunderstanded migration steps, thanks for notice! I'll fix it!

[2021-04-05 11:13] quenbyako commented on #82
@xxxsen Also, if you have some time, create PR, please, i'll merge it

[2021-04-06 03:41] xxxsen commented on #65
@quenbyako

`go mod tidy` make no help

here is my code, it just copy from auth example and change auth info as myself.

https://play.golang.org/p/mH-5svHFD-R

error message I got

[code]

[2021-04-06 11:50] quenbyako commented on #65
@xxxsen i'll dig up to this issue, and come back to you, looks pretty strange (i can't reproduce it, but it does look too realistic)

[2021-04-07 11:48] D3vl0per commented on #65
Yep, I got same problem, same the mtproto ErrResponseCode 4294966892.
The minor difference is the dotenv what I use to load the credentials.

[2021-04-28 14:53] ssiyad commented on #65
`github.com/xelaj/mtproto v1.0.0`

I was able to resolve this by changing serverHost to my DC's IP (DC5: `91.108.56.151:443`). This makes me think if this is anyway related to DC addresses and #22 ?

[2021-05-23 16:31] dyrkin commented on #76
hi @quenbyako,
I also receive the `GzipPacked` object in the `CustomServerRequestHandler`

[code]

To reproduce it you just need to create your own channel in Telegram and send a message to it from any client.
Could you please make `*objects.GzipPacked` public so I can cast to it?

[2021-06-04 09:31] MJDrgn opened #86 "[BUG]: Recreation Connection fails with IPv6 parsing error"
#### Description

When running in WSL2 (Ubuntu 20.04), upon first request (in my case AuthSendCode) a reconnection is attempted to an invalid address. I'm not exactly sure why that IP is invalid, or where it comes from - presumably it's a telegram DC?

`panic: failed AuthSendCode: sending AuthSendCode: recreating connection: can't connect: setup connection: resolving tcp: address 2001:0b28:f23d:f0

[2021-06-04 10:04] MJDrgn commented on #86
Minor addition: I have now reproduced this on Windows as well, although only once and it seems intermittent as I haven't got it again even re-running the same code.

[2021-06-04 11:08] MJDrgn commented on #49
From logging inside sendPacket, I've found two issues that seem to be causing this together.
Firstly, the current logic only increments seqNo if the message was encrypted. However, the Telegram spec says this should be conditional on the message requiring acknowledgement, with no mention of encrypted: "those requiring acknowledgment, and in particular those that are not containers".

Secondly, the

[2021-06-05 09:09] MJDrgn commented on #86
This is a duplicate of #82

[2021-06-05 09:09] #86 closed

[2021-06-06 10:31] jackfreed opened #87 "load session info from memory"
hi, seems like session information is hardcoded to be loaded from and saved to file.

would be great if it can come from a string as well.

[2021-06-07 16:08] quenbyako commented on #87
@jackfreed actually yeah, this is really good enchancement, btw.

I promise, when i find a few time, i'll implement your idea.

[2021-06-08 15:34] jackfreed opened #88 "update to latest layer 129"
when trying to update to the latest layer 129 i am getting an error about PseudoBool not found.

any idea?

[2021-06-08 16:12] quenbyako commented on #88
that's definetely a bug (or my forgetfulness), i'll research it, and let you know

[2021-06-09 16:53] jackfreed commented on #88
just as a followup the steps i took:

[code]

yielding:

**parse schema file: unknown comment type: /////////////////////////////
///////////////////
exit status 1**

after removing all the "unknown comments" (the file now starts with **boolFalse#bc799737 = Bool;**) and runing the auth example:

[code]

[2021-06-11 03:46] azamaulanaaa commented on #76
Hai, I have similar problems. This is how to recreate one of them using bot.

**Code**
[code]

**Message Content**
[code]

**Console**
[code]

[2021-06-11 03:58] azamaulanaaa commented on #34
@LazarenkoA Hai, I have an example for you. for further more check out [Uploading and Downloading Files](https://core.telegram.org/api/files#uploading-files)

[code]

[2021-06-17 20:07] paskal commented on #79
Thanks for the package! With v1.0.0 there is no reconnect function, and the current master version throws a panic which is no longer caught by `MTProto .RecoverFunc` and I don't have any idea on how to catch it:

[code]

[2021-06-18 13:37] khjde1207 commented on #82
[code]
I fixed it by modifying the code

[2021-06-18 14:11] khjde1207 commented on #65
solved it
It's a phone number input problem.
phoneNumber = "+8210xxxxxxxx"
change
phoneNumber = "8210xxxxxxxx"

delete +

[2021-06-18 22:20] quenbyako commented on #65
@khjde1207 looks like it could be resolution to this issue...

@HT808s @mwei0210 @aleibovici @xxxsen @D3vl0per @ssiyad could you please confirm that this issue can be fixed by correction of input phone number? If yes, i'll add number verification before sending request, it's not too hard

[2021-06-19 11:28] khjde1207 commented on #65
Sorry, deleting the + doesn't solve it.

[2021-06-22 03:24] quenbyako commented on #78
Unfortunately, i must close this feature request, cause websockets transport is overcomplicated and obfuscated as well as documentation is. I was experimenting with connection through websockets since april, and still no any positive movement. Mtproto architecture is too sucks.

When we will get official telegram developers support, i promise we will come back to this feature, for me it looks pret

[2021-06-22 03:24] #78 closed

[2021-06-22 06:47] jackfreed opened #97 "[BUG]: getting stuck inside AddCustomServerRequestHandler"
i have this very short example of where i want to mark messages as read:

[code]

the message is being marked as read on the senders device but i am never getting to "here"
so all other subsequent messages are stuck as well because AddCustomServerRequestHandler never returns.

[2021-06-22 17:49] quenbyako commented on #97
@jackfreed try to add some debug messages **before** switch statment, maybe you don't recieve any requests at all

[2021-06-22 18:00] jackfreed commented on #97
if i send another message its not coming, but that does not matter since the call is not returning to **print("here")**

[2021-06-22 18:15] quenbyako commented on #97
@jackfreed all registred callbacks are called after any request from mtproto recieved until any callback returns `true`. So, it could be possible 2 problems:

1) you added some callback before, which returning `true`, but in your case description, looks like this is not exact problem
2) telegram doesn't send you **any** request, which is really strange, but it is possible case, i don't know why, b

[2021-06-30 19:10] quenbyako commented on #97
@jackfreed i need to close this issue, cause i can't reproduce this bug.

You can always reopen it, don't worry, i'll come back, if you still have any issues (but before reopening, please, add a bit more info, this will help a lot)

[2021-06-30 19:10] #97 closed

[2021-06-30 19:10] quenbyako commented on #87
Ta-dah! 🎉 Done!

[2021-06-30 19:10] #87 closed

[2021-07-09 10:03] jackfreed commented on #97
just to make sure, you got the fact that:

`		_, err := client.MessagesReadHistory(peer, u.ID)
`

**is being executed** (blue tick on the remote side) but the print statement is never reached:

`		print("here") <----------------
`

meaning the request handler also never returns

[2021-07-09 10:27] yibana commented on #65
I know the cause of the problem, but I don't know how to solve it. The session needs to be recreated after DC redirection, but I don't know how to clean it up!
`func (m *MTProto) tryToProcessErr(e *ErrResponseCode) error {
	switch e.Message {
	case "PHONE_MIGRATE_X":
		newIP, found := m.dclist[e.AdditionalInfo.(int)]
		if !found {
			return errors.Wrapf(e, "DC with id %v not found", e.AdditionalIn

[2021-07-09 12:57] yibana commented on #65
Resolved. After replacing the DC server, you need to call InvokeWithLayer to update the server configuration

[2021-07-10 03:57] hookzof commented on #49
@MJDrgn Thanks, it seems to be working for me.

[2021-07-11 13:51] quenbyako commented on #49
@hookzof do you have any patch which i can merge? @MJDrgn is right about unixnano, it is rounding, so maybe it's better to add to nanoseconds random value from 0 to 999, i don't believe that this could fix this issue, but it looks important.

[2021-07-11 13:53] quenbyako commented on #97
@jackfreed got your note, I'll try to reproduce it again (but honestly, i don't understand, where it can _possibly_ be any issue)

[2021-07-11 14:12] hookzof commented on #49
@quenbyako I did, there may be some additions from @MJDrgn.

[2021-07-14 06:44] mqrc81 opened #104 "Recommend getting latest commit?"
#### Description

The current stable version (v1.0.0), which is the version you get with `go get github.com/xelaj/mtproto` has various issues that have since been resolved.
For example [this](https://github.com/xelaj/mtproto/issues/65) issue. Also, some functions like [client.IsSessionRegistered()](https://github.com/xelaj/mtproto/blob/216789b95a5d644ebbdd1acb7eb46ff61647960a/telegram/common.go#L1

[2021-07-28 11:53] MarjovanLier opened #105 "[BUG]: Cant Auth, seems like it's trying to make a IPv6 connection on IPv4 network/internet."
Using https://github.com/xelaj/mtproto/blob/main/examples/auth/main.go to try auth with my app ID and hash returns the floowing error.

marjo@Laptop:~/go/src/bitbucket.org/marjo/telegram/auth$ clear; go run main.go 27xxxxxxxxx
&errors.withStack{
  error: &errors.withMessage{
    cause: &errors.withStack{
      error: &errors.withMessage{
        cause: &errors.withStack{
          error: &errors.w

[2021-08-03 14:25] quenbyako commented on #105
@MarjovanLier Thanks for creating this issue!

Noted your problem, i'll try to find fix as fast as i can (sorry, don't have enough time to maintain this project, still trying to find additional maintainer)

[2021-08-06 14:46] waybackarchiver commented on #82
Any news here?

[2021-08-06 15:10] #82 closed

[2021-08-06 15:10] quenbyako commented on #82
@waybackarchiver thanks for pinging me, i've fixed this error.

Sorry, i might do it way more faster.

[2021-08-06 15:44] waybackarchiver opened #108 "Should remove the panic?"
The panic in this code looks like used for debugging. I guess that should remove it?

https://github.com/xelaj/mtproto/blob/04ee89d1b6bce00fb50e4e87bf16fdc781cf4d8f/mtproto.go#L364-L367

[2021-08-07 18:44] Kirill-Shilov opened #110 "misprint[BUG]:"
Если поставить пакет через go get то там в telegram/common.go и паре примеров опечатка.
Вместо PathIsWritable будет PathIsWirtable

[2021-08-08 15:30] quenbyako commented on #110
@Kirill-Shilov спасибо за создание ишью по этому поводу!

Думаю, что накопилось уже достаточно просьб о публикации патча за место коммитов в мастер, иначе меня сожрут за то что я мало того, что не поддерживаю проект, так еще и все фиксы лишь вливаю в мастер, игнорируя гошные модули.

Сделаю на неделе, спасибо за то, что указали на это!

[2021-08-10 12:37] quenbyako opened #111 "[BUG]: Tdlib updated their public keys"
Tdlib was updated their keys

https://github.com/tdlib/td/commit/e9e24282378fcdb3a3ce020bee4253b65ac98213

all examples doesn't work

[2021-08-16 11:42] quenbyako commented on #108
@waybackarchiver well, yes, but no. BadMsgNotification means that all session was broken, i mean, this message should be never received from official telegram servers. if we got it, then something in package is broken.

Soooo, idk, maybe we need to leave for now... Or remove it, cause i hate panics in community modules too...

I don't know, need to decide what to do with it.

[2021-08-16 14:41] waybackarchiver commented on #108
As I understand it, we should provide this panic as an error to the caller to handling, and not have them interrupted.

But I haven't encountered this yet, so maybe I'll consider it later if we need to.

[2021-08-18 09:36] sunnyque commented on #108
return error (or mark session is in bad state) and let app decide what to do (panic or reconnect/recreate session). at this time I've been forced to separate app logic using different processes because of mtproto panics (lost connection/BadMsgNotification whatever)

[2021-08-29 19:50] igolaizola commented on #105
I am suffering a similar problem, in my case the error is the following:

[code]
This address comes from here https://github.com/xelaj/mtproto/blob/5eb6237dcf631e69d7694418990b32b333f99586/mtproto.go#L417

[2021-08-29 22:04] igolaizola commented on #105
I've just discovered that wsl2 hasn't support for IPv6, that's why I am getting a network error: https://github.com/microsoft/WSL/issues/4518

I'll try directly from windows host.

[2021-09-22 12:18] nikepan opened #116 "[BUG]: ban phone number during get_updates exaple"
#### Description

I ran get_updates after auth and receive:

`
&errors.fundamental{
  msg:   "got nonsystem message from server: *telegram.UpdateShort",
  stack: &errors.stack{
    0x12bc7fa,
    0x12bc33f,
    0x12be0b4,
    0x106ac41,
  },
}
&telegram.UpdatesTooLong{}
&errors.fundamental{
  msg:   "got nonsystem message from server: *telegram.UpdatesTooLong",
  stack: &errors.stack{
    0x12bc7f

[2021-10-04 09:59] Errorcodertv3 commented on #49
panic: (*objects.BadMsgNotification) 0xc0001d4020

[2021-10-06 16:16] Kliton opened #117 "[BUG]: Auth example error"
#### Description

I copied the auth example code and replace with my app_id, app_hash_id and public key.

I get this error:

`not encrypted, creating auth key
panic: Panicking because of error: creating connection: making auth key: handshake: Can't find fingerprint
`

[2021-10-07 08:42] #117 closed

[2021-10-07 10:04] Kliton commented on #65
There is a pull request with the fix?

[2021-10-07 12:02] waybackarchiver commented on #105
Try the latest commit https://github.com/xelaj/mtproto/commit/d0990b5f1e054374a17c3860cb16908ddd2170fd

[2021-10-07 12:07] waybackarchiver commented on #117
related: #111

[2021-10-07 13:26] waybackarchiver commented on #105
I only got a successfully auth at the example code ([examples/auth/main.go](https://github.com/xelaj/mtproto/blob/5eb6237dcf631e69d7694418990b32b333f99586/examples/auth/main.go)), maybe I missing something.

[2021-10-20 16:39] Kliton commented on #105
Solved.
The problem was that i was getting PHONE_MIGRATE_4, so i had to switch to Dc[4] but dc[4] has two different addresses and the code is using the last ip ( because is replacing the ip in the dc list with key 4 ).

Change the code in "NewClient", telegram.Common.go
[code]

[2021-10-23 12:52] MarkElifTech opened #118 "[BUG]: AuthSignIn is not login to system"
#### Description

I can't login to the system by AuthSignIn, IsSessionRegistred() always return false even I check it immediately after AuthSignIn.

#### Failed snippet

[Go Playground](https://play.golang.org/p/coWwaA8K3ta)

#### Expected behavior

App should be logged to the system, and can perform requests to telegram API

#### Additional context

Also, all other requests fail too

[2021-12-05 16:39] shaggyrec opened #119 "[BUG]: sending AuthSendCode: UPDATE_APP_TO_LOGIN (code 406)"
Auth example leas "sending AuthSendCode: UPDATE_APP_TO_LOGIN (code 406)"

Probably it depends on enforcing the use of 64-bit identifiers

[2022-01-04 13:48] dmitrytrager commented on #79
Having the same problem. It fires with `panic` and breaks the process after a couple of minutes.

[2022-01-08 18:20] jbub commented on #105
Hi, does anyone have a fork with this issue fixed ?

[2022-02-22 17:03] VladPetriv opened #122 "Error: Client doesn't have method"
https://github.com/xelaj/mtproto/blob/5eb6237dcf631e69d7694418990b32b333f99586/examples/auth/main.go#L49

Description:
I get an error when try to run example with authorization.
Error say that client doesn't have method or field IsSessionRegistred.

![image](https://user-images.githubusercontent.com/80276277/155181527-7919f9b3-9698-410c-bbf2-8e3a86e2a796.png)

[2022-03-04 09:07] erkanom commented on #122
You can find a solution here

https://github.com/xelaj/mtproto/discussions/83#discussioncomment-1932684

[2022-03-04 09:22] VladPetriv commented on #122
Thank you)

[2022-03-04 09:22] #122 closed

[2022-04-25 09:44] amirrmonfared opened #123 "Function doesn't exist"
Hi everyone,

In the Example folder for auth user in line 49 function `IsSessionRegistred()`  doesn't exist, if the name changed or you have implemented another function for this action please mention it.

https://github.com/xelaj/mtproto/blob/497fd3728e4696e0a091332436f778af2062270a/examples/auth/main.go#L49

Thanks

[2022-05-08 12:20] VladPetriv commented on #123
You can find a solution here

https://github.com/xelaj/mtproto/discussions/83#discussioncomment-1932684

[2022-05-20 11:52] altolstikhin commented on #76
I have similar problem. When I get message with text in `customServerRequestHandler`, I receive `*objects.GzipPacked` in method parameter.

[2022-06-24 18:05] Kalinin-Andrey opened #129 "[FEAT]: Move file /internal/interface.go from folder /internal"
#### Is your feature request related to a problem? Please describe.

This small change will allow to:
1. create implementation of `SessionLoader` for various client-server solutions;
2. will allow to make a multi-user application, because. it will be possible for each user to load his own session.

#### Describe the solution you'd like

Just move file `/internal/interface.go` from folder `/interna

[2022-07-02 16:12] xepozz commented on #72
Is help needed to solve this?

[2022-07-02 16:15] VityaSchel commented on #22
о боже ничего не работает об оже

[2022-07-15 13:14] jon4hz opened #132 "[BUG]: Wrong comments in generated code"
#### Description

All methods in `telegram/methods_gen.go` have the same comment `Sends a Telegram Passport authorization form, effectively sharing data with the service`.

It's already hard enough to use this library as it is but having no actual comments about what certain methods do makes it even harder. And always having to search the exact method in the telegram api specs is kinda annoying. A

[2022-07-19 13:43] ernado commented on #132
There are no description in `.tl`, but it is possible to parse documentation and inject comments like it is done with [gotd/getdoc](https://github.com/gotd/getdoc) in [gotd](https://github.com/gotd/td).

[2022-07-29 13:18] kamikazechaser commented on #104
It is over an year, There should be a regular release pipeline.

[2022-09-06 15:31] Mookiees commented on #22
эээ чо PHONE_MIGRATE_2

[2022-09-06 18:15] VityaSchel commented on #22
а ничо нормально общайся

[2022-09-17 06:35] EniMusguera commented on #49
Auth. &objects.BadMsgNotification{
  BadMsgID:    7144231798508581348,
  BadMsgSeqNo: 7,
  Code:        33,
}
panic: (*objects.BadMsgNotification) 0xc000037d00. sad

[2022-10-12 02:11] r1der23 opened #133 "[BUG]: UserID is int64, not int32"
Unfortunately, when i have tried to send message to bot, i found that bot id is more than int32)
etc

[2022-10-12 18:12] r1der23 commented on #133
btw sorry for my english and code quality, i m newbie

[2022-10-21 10:45] AmarnathCJD commented on #73
done

[2022-10-21 13:25] quenbyako commented on #73
Where?

[2022-10-21 13:36] AmarnathCJD commented on #73
**[updates.go](https://github.com/AmarnathCJD/gogram/blob/master/telegram/updates.go)**

[2022-11-23 07:02] libai0610 commented on #105
I have do the change :

for _, dc := range config.DcOptions {
		if dc.Cdn {
			continue
		}
		if strings.Con; tains(dc.IpAddress, ":") {
			// ipv6
			continue
		}

		// Prevent replacing ip if one DC has more ips ( in this way i'm preserving the first ip that i have)
		_, ok := dcList[int(dc.ID)]
		if ok {
			continue
		}

		dcList[int(dc.ID)] = dc.IpAddress + ":" + strconv.Itoa(int(dc.Port))
	}

[2022-11-27 19:25] quenbyako commented on #105
This is soooooo sucks that i developed this project and i completely lost a context about all issues....

Fuck, i need to make pipelines for problem solving...

@libai0610 sorry that current community can't help you on right level, i'll try to look what's the problem and maybe come back to you, sorry for super low support level.

[2022-11-28 08:04] amperov commented on #119
@shaggyrec Hello! How you successfully now?

[2022-11-28 08:17] shaggyrec commented on #119
I didn't use it. Bot Api was enough for my goals.
But you could see github.com/gotd/td . Maybe it will work for you

[2022-11-29 08:20] amperov commented on #119
Thanks